@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* *************** Orca UI ****************** */

@import url("https://orcaui.netlify.app/styles/main.css");  


:root {
  --accent-color: red;
  --lightgrey: lightgrey;
  --red:red;
  --white: white;
}
html{
  width: 100vw;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
.header-text {
  top: 70%;
  color: var(--white);
}
nav {
  position: sticky;
  top: 0;
  z-index: 500;
}
.shop-now-btn {
  margin: auto;
  align-content: center;
  justify-content: center;
}
.explore-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
  width: 100%;
}
.hover-img:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}
.center-div h1 {
  line-height: 6rem;
}
.catagory div {
  outline: 2px solid var(--lightgrey);
  height: 20rem;
  width: 20rem;
}
.text-overlay {
  background-color: var(--lightgrey);
  font-weight: bold;
  font-size: 150%;
}
.shop-now-btn:hover {
  transform: translateX(1rem) scale(1.05);
  transition: 0.2s ease-in-out;
}
footer {
  background-color: var(--primary-color);
  color: var(--white);
}
a:hover {
  color: var(--accent-color);
  transition: 0.2s ease-in-out;
}
.hr-color-accent {
  border: 1px solid var(--accent-color);
}
.catagory-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text-underline{
  text-decoration: underline;
}
#menu-icon{
  display: none;
}
#search-mobile{
  display: none;
}

/* *********** Media queries for mobile ************* */

@media screen and (max-width: 768px){
  #nav{
    width: 100%;
    padding: 1rem;
  }
  #search-bar-nav{
    display: none;
  }
  #search-mobile{
    display: block;
  }
  header h1{
    line-height: 8rem;
  }
  header img{
  object-fit: none;
  width: 100%;
  left: 10rem;
  }
  .filter{
    display: none;
  }
  #main-content-products{
    width: 100vw;
  }
  .cart-manage-main{
    flex-direction: column;
  }
  .cart-manage-main{
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .price-details{
    width: 90vw;
    margin: auto;
  }
  #card-horizontal{
    width: 100vw;
    padding: 0;
    border: none;
  }
}